<section class="main-content">
  <div class="cards-grid">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card-form></app-card-form>
  </div>
  <div class="paragraph">
    <p>
      Fusce ut congue nulla, eget finibus dolor. Etiam eu lectus metus. Proin
      tincidunt eros et sem consectetur posuere. Pellentesque commodo eu mi vitae
      malesuada. Nulla id ipsum convallis, ultrices enim a, feugiat nibh. Nullam
      ex tortor, ultrices quis molestie ut, tristique vitae velit. Duis eget
      tortor a mi convallis ultricies.
    </p>
  </div>
  
</section>