<header class="header">
  <div class="logo">
    <!-- <span>Logo</span> -->
    <img src="../../../assets/images/map_pin.png" alt="" />
  </div>
  <div class="search">
    <div class="topics">
      <nav>
        <ul>
          <li><a href="#topic1">Topic 1</a></li>
          <li><a href="#topic2">Topic 2</a></li>
          <li><a href="#topic3">Topic 3</a></li>
          <li><a href="#topic4">Topic 4</a></li>
        </ul>
      </nav>
    </div>
    <div class="search-form">
      <form action="">
        <input type="text" placeholder="Search" />
      </form>
    </div>
  </div>
</header>
