.header {
  background-color: #1ba1e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .search {
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topics ul {
      display: flex;
      list-style: none;
      justify-content: flex-end;

      li {
        margin-left: 2em;

        a {
          padding: 0.5em;
          background-color: #F0A30A;
          text-decoration: none;
        }
      }
    }

    .search-form {
      display: flex;
      justify-content: flex-end;
    }
  }
}
