.features-list {
  display: grid;
  grid-template-rows: auto 10em;
  gap: 1em;
  height: 100%;

  .features {
    background-color: #B1DDF0;
    padding: 1em;
    border: 2px solid #2A83A9;


    ul li {
      margin-bottom: 1em;
    }
  }

  .external-links {
    background-color: #FFFF88;
    padding: 0 1em;
    min-height: 10em;
    border: 2px solid black;
  }
}